body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.input-field {
    margin: 20px 0px;
}

.input-field label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.input-field input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-container {
    text-align: center;
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.output-field {
    margin-top: 20px;
}

.output-field label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.output-field input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
    color: #333;
}

.btn-div {
    width: 100%;
    text-align: center;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

.tab {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab:hover, .tab.active {
    background-color: #0056b3;
}